/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo do formulário */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Estilo para o contêiner do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Largura padrão do formulário */
    margin: 0 auto; /* Centralizar horizontalmente */
}

/* Estilo para os títulos do formulário */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para os rótulos dos campos */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para os campos de entrada de rádio */
input[type="radio"] {
    margin-right: 5px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilo para centralizar o logotipo */
.logo {
    text-align: center;
}

/* Media query para proporção 16:9 (horizontal/desktop) */
@media screen and (min-aspect-ratio: 16/9) {
    form {
        margin-top: 20px; /* Distância de 20% da largura do formulário */
    }
}

/* Media query para proporção 9:16 (vertical/mobile) */
@media screen and (max-aspect-ratio: 9/16) {
    form {
        margin-top: 0.01px; /* Distância de 1% da largura do formulário */
    }
}
