/* Importa a fonte Roboto do Google Fonts para uso no documento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* --Fontes --- */

body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.botao1 {
  text-align: center;
}

.container-sucesso1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #27a03c;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-sucesso2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #35df51;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container-falha1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #cc0909;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.container-falha2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ff0000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}


h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

button:hover {
  background-color: #0056b3;
}

/* -- Tabela de Visualizar -- */
table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px; /* Espaçamento padrão para todas as células */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Espaçamento para a primeira coluna */
.tb-colum1 {
  padding-right: 20px; /* Espaçamento extra na primeira coluna */
}

.tb-colum2 {
  padding-left: 15px; /* Espaçamento extra na segunda coluna */
}

.tb-colum3 {
  padding: 15px; /* Espaçamento diferente na terceira coluna */
}
